Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*
  -readability-identifier-length
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ""

HeaderFilterRegex: "^src/.*"

FormatStyle: none
